<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Azure Identity B2C Demo</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
@*        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>*@
@*        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="showprofile">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Show profile
            </NavLink>
        </div>*@
@*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://pparpasb2c.b2clogin.com/pparpasb2c.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_Login&client_id=0c45a8f1-5524-4bdc-b56e-2d5e7e4d7342&nonce=defaultNonce&redirect_uri=https://identitypocblazorappb2c.azurewebsites.net/signin-oidc&scope=openid&response_type=id_token&prompt=login">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Sign in
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://pparpasb2c.b2clogin.com/pparpasb2c.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_SignUp&client_id=0c45a8f1-5524-4bdc-b56e-2d5e7e4d7342&nonce=defaultNonce&redirect_uri=https://identitypocblazorappb2c.azurewebsites.net/signin-oidc&scope=openid&response_type=id_token&prompt=login">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Sign Up
            </NavLink>
        </div>*@
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="showprofile">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Show Profile (Claims)
            </NavLink>
        </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://pparpasb2c.b2clogin.com/pparpasb2c.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_profile&client_id=03914787-2ea5-4bb2-8ae8-cf0aa1f0bf3f&nonce=defaultNonce&redirect_uri=https%3A%2F%2Fidentitypocblazorappb2c.azurewebsites.net&scope=openid&response_type=id_token&prompt=login&state=CfDJ8PW3vKE2kFRFgW9LT9AA6m7Rd_9tFNr0e2qLMM1nQ9X2exMa3RRiFowwtr17wGZEFh33VxTjkydQvL9ZVfOodk8dN_a-Agutf5tdKyQPzpz11BUe19YczLRDhzX1QQCrQSH1_YRxlrIwwbBsnfXAdEDgFVxFhhiQKnPw7uctHcJGAyigsuXgAL2XrEhgXck3R97k-QD_t-cTujYO3tEgiKfLwCo_COpefJuFMA69twkgYXh_m8Qm6sP4WXXTT3GC9QOg2xXyf1Xbf135TrGGxlburW8ziieBvqWkq2qWDIEz96EWVd-F-XeVAtm1s5OzyUOlvmMRl6dz1qaGx0z-tm8vxxvPB4DsDpa4Wr_y9kUBDVmIoKcZ0M8Q11N7iKuaeOvlns3r1-k0alpNF_axPiI">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Edit Profile
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://pparpasb2c.b2clogin.com/pparpasb2c.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_passreset&client_id=03914787-2ea5-4bb2-8ae8-cf0aa1f0bf3f&nonce=defaultNonce&redirect_uri=https%3A%2F%2Fidentitypocblazorappb2c.azurewebsites.net&scope=openid&response_type=id_token&prompt=login&state=CfDJ8PW3vKE2kFRFgW9LT9AA6m7Rd_9tFNr0e2qLMM1nQ9X2exMa3RRiFowwtr17wGZEFh33VxTjkydQvL9ZVfOodk8dN_a-Agutf5tdKyQPzpz11BUe19YczLRDhzX1QQCrQSH1_YRxlrIwwbBsnfXAdEDgFVxFhhiQKnPw7uctHcJGAyigsuXgAL2XrEhgXck3R97k-QD_t-cTujYO3tEgiKfLwCo_COpefJuFMA69twkgYXh_m8Qm6sP4WXXTT3GC9QOg2xXyf1Xbf135TrGGxlburW8ziieBvqWkq2qWDIEz96EWVd-F-XeVAtm1s5OzyUOlvmMRl6dz1qaGx0z-tm8vxxvPB4DsDpa4Wr_y9kUBDVmIoKcZ0M8Q11N7iKuaeOvlns3r1-k0alpNF_axPiI">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Reset Password
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://docs.microsoft.com/en-us/azure/active-directory-b2c/overview">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Docs
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
