<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Azure Identity B2C Demo</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
@*        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>*@
@*        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="showprofile">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Show profile
            </NavLink>
        </div>*@
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://pparpasb2c.b2clogin.com/pparpasb2c.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_Login&client_id=0c45a8f1-5524-4bdc-b56e-2d5e7e4d7342&nonce=defaultNonce&redirect_uri=https%3A%2F%2Fidentitypocblazorappb2c.azurewebsites.net%2Fsignin-oidc&scope=openid&response_type=id_token&prompt=login">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Sign in
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://pparpasb2c.b2clogin.com/pparpasb2c.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_SignUp&client_id=0c45a8f1-5524-4bdc-b56e-2d5e7e4d7342&nonce=defaultNonce&redirect_uri=https%3A%2F%2Fidentitypocblazorappb2c.azurewebsites.net%2Fsignin-oidc&scope=openid&response_type=id_token&prompt=login">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Sign Up
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="showprofile">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Show Profile (Claims)
            </NavLink>
        </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://pparpasb2c.b2clogin.com/pparpasb2c.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_profile&client_id=0c45a8f1-5524-4bdc-b56e-2d5e7e4d7342&nonce=defaultNonce&redirect_uri=https%3A%2F%2Fidentitypocblazorappb2c.azurewebsites.net%2Fsignin-oidc&scope=openid&response_type=id_token&prompt=login">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Edit Profile
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://pparpasb2c.b2clogin.com/pparpasb2c.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_passreset&client_id=0c45a8f1-5524-4bdc-b56e-2d5e7e4d7342&nonce=defaultNonce&redirect_uri=https%3A%2F%2Fidentitypocblazorappb2c.azurewebsites.net%2Fsignin-oidc&scope=openid&response_type=id_token&prompt=login">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Reset Password
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
